@import "tailwindcss";

.navbar {
    background-color: #b2bebf !important;
}

.colmuna1 {
    background-color: #b2bebf;
}

.apartados {
    margin-top: 45px;
}

.nav-link {
    color: #074775;
    font-size: 20px;
    font-weight: bolder;
    border-bottom: 2px solid #6464649d;
}

.nav-link:hover {
    background-color: #e0790d;
    color: #fff;
    border-radius: 20px 20px 0 0;
    border-bottom: 2px solid #e0790d;
    transition: 300ms;
}

.contenido {
    padding-top: 35px;
    padding-left: 45px;
    border-radius: 20px 0 0 0;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    outline: 8px solid #b2bebf;
}

h2 {
    color: #074775;
    font-weight: bolder;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 20px;
    text-shadow: 1px 1px #fff, 2px 2px #074775;
}

input {
    margin-bottom: 18px;
}

textarea {
    margin-bottom: 18px;
}

table {
    margin-top: 25px;
}

.formularios {
    background-color: #b2bebfb9;
    border-radius: 25px;
    padding: 28px;
    box-shadow: 10px 10px 20px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 20px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px -4px rgba(0, 0, 0, 0.75);
    font-size: 20px;
    font-weight: bold;
}

.formularios label{
    color: #074775;
    text-shadow: 2px 2px #fff;
    margin-bottom: 8px;
}

.btn-primary {
    background-color: #074775;
    border: #074775;
}

.buscador {
    height: 50px;
}

.input-group-text {
    height: 38px;
}

.page-item .page-link {
    color: #074775;
}

.page-item.active .page-link {
    background-color: #074775;
    border: #074775;
    color: #fff;
}

.colores {
    width: 120px;
}

.columna_ventas {
    width: 325px;
}

.bg-primary {
    background-color: #0747758c !important;
}

.table_apartados thead tr th {
    background-color: #074775 !important;
}

table {
    animation: scale-up-vertical-top 0.4s ease-out;
    transform-origin: center top;
}

@keyframes scale-up-vertical-top {
    0% {
        transform: scaleY(0.4);
        opacity: 0.3;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}
